@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');


@theme {
  --color-primary: #FFD400;
  --color-secondary: #FF8C00;
  --color-bg-app: #F8F8F6;
  --color-text-primary: #000000;
  --color-text-secondary: #7F7A77;
  --font-sans: 'Google Sans', system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-bg-app);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
    margin: 0;
  }
}